<section>
  <div>
    <!--<div ><img src="/images/home.jpg"></div>-->
  </div>
</section>

<!--
<section class="container centered">
  <div class="about">
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
        {{ if .icon }}
          <li><a href="{{ .url }}"><i class="{{ .icon }}"></i></a></li>
        {{ else }}
          <li><a href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>
-->

<div class="home-projects">

{{ range where ( .Site.Pages.ByParam "order" ) "Section" "project" }}

  {{ if .Title }}

  <section>

      <div class="card">

        <div class="card-image">
          {{ if .Params.picture }}
          <img src="{{ .Params.picture }}" title="{{ .Title }}" />
          {{ end }}
          <h4 class="card-title"><a href="{{ .URL }}">{{ .Title }}</a></h4>
        </div>

        <div class="card-content">
          {{ if not .Params.picture }}
             <h4 class="card-title"><a href="{{ .URL }}">{{ .Title }}</a></h4>
          {{ end }}
          {{ if .Description }}
            <p>{{ .Description | markdownify }}</p>
          {{ end }}

          
        </div>
        <div class="card-action">
          <a href="{{ .URL }}"> {{ if .Params.more }}  {{ else }} {{ i18n "openProject" }} {{ end }}</a>
        </div>
      </div>

  </section>

  {{ end }}

{{ end }}

</div>
