<section>
  <div>
    <!--<div ><img src="/images/home.jpg"></div>-->
  </div>
</section>

<!--
<section class="container centered">
  <div class="about">
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
        {{ if .icon }}
          <li><a href="{{ .url }}"><i class="{{ .icon }}"></i></a></li>
        {{ else }}
          <li><a href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>
-->

<div class="home-projects">

{{ range where ( .Site.Pages.ByParam "order" ) "Section" "project" }}

  {{ if .Title }}

  <section>

      <div class="card">
        <div class="card-content">
          {{ with .Title }}
          <h3 class="card-title">{{ . }}</h3>
          {{ end }}
          {{ with .Description }}
            <p>{{ . }}</p>
          {{ end }}
        </div>
        <div class="card-action">
          <a href="{{ .URL }}"> Next </a>
        </div>
      </div>

  </section>

  {{ end }}

{{ end }}

</div>
