.home-projects {
  display: flex;
  flex-wrap: wrap;
  & > section {
    display: flex;
    @media #{$large-and-up} {
      &:nth-child(4n + 1) {
        flex-basis: 40%;
      }
      &:nth-child(4n + 2) {
        flex-basis: 60%;
      }
      &:nth-child(4n + 3) {
        flex-basis: 60%;
      }
      &:nth-child(4n + 4) {
        flex-basis: 40%;
      }
    }
    @media #{$medium-and-up} {
      flex-basis: 50%;
    }
    &:nth-child(5n + 1) {
      .card {
        background-color: rgba(200, 100, 200, 0.3);
        .card-image .card-title {
          background-color: rgba(200, 100, 200, 0.7);
        }
      }
    }
    &:nth-child(5n + 2) {
      .card {
        background-color: rgba(173, 200, 100, 0.3);
        .card-image .card-title {
          background-color: rgba(173, 200, 100, 0.7);
        }
      }
    }
    &:nth-child(5n + 3) {
      .card {
        background-color: rgba(100, 140, 200, 0.3);
        .card-image .card-title {
          background-color: rgba(100, 140, 200, 0.7);
        }
      }
    }
    &:nth-child(5n + 4) {
      .card {
        background-color: rgba(200, 107, 100, 0.3);
        .card-image .card-title {
          background-color: rgba(200, 107, 100, 0.7);
        }
      }
    }
    &:nth-child(5n + 5) {
      .card {
        background-color: rgba(100, 200, 150, 0.3);
        .card-image .card-title {
          background-color: rgba(100, 200, 150, 0.7);
        }
      }
    }
    &:last-child {
      flex-basis: 100%;
    }
    .card {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      .card-image {
        display: flex;
        align-items: center;
        height: 100%;
        max-height: 320px;
        overflow: hidden;
        img {
          height: 100%;
          object-fit: cover;
        }
        .card-title {
          a,
          a:focus,
          a:hover,
          a:active {
            color: #fff;
          }
        }
      }
      .card-content {
        flex: 1 1 auto;
      }
      .card-action {
        a:not(.btn):not(.btn-large):not(.btn-floating) {
          &,
          &:focus,
          &:hover,
          &:active {
            color: #fff;
          }
        }
      }
    }
  }
}
