@import 'materialize';
@import 'header';
.navigation-list {
    display: flex;
}

body {
    &>header {
        display: flex;
        padding: 1rem 0;
        &>.avatar {
            margin: 0 auto;
            padding-right: 3rem; // sompensate menu button with
        }
    }
    &::before {
        background-size: cover;
        background-attachment: fixed;
        content: '';
        will-change: transform;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: fixed; // background-image: url('/images/tomoko-uji-601010-unsplash.jpg');
    }
    >header,
    >main {
        max-width: 900px;
        padding: 0 1rem;
        margin: 0 auto;
    }
}

img {
    width: 100%;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.home-projects {
    display: flex;
    flex-wrap: wrap;
    &>section {
        display: flex;
        @media #{$large-and-up} {
            &:nth-child(4n+1) {
                flex-basis: 40%;
            }
            &:nth-child(4n+2) {
                flex-basis: 60%;
            }
            &:nth-child(4n+3) {
                flex-basis: 60%;
            }
            &:nth-child(4n+4) {
                flex-basis: 40%;
            }
        }
        @media #{$medium-and-up} {
            flex-basis: 50%;
        }
        &:nth-child(5n+1) {
            .card {
                background-color: rgba(200, 100, 200, 0.3);
                .card-image .card-title {
                    background-color: rgba(200, 100, 200, 0.7);
                }
            }
        }
        &:nth-child(5n+2) {
            .card {
                background-color: rgba(173, 200, 100, 0.3);
                .card-image .card-title {
                    background-color: rgba(173, 200, 100, 0.7);
                }
            }
        }
        &:nth-child(5n+3) {
            .card {
                background-color: rgba(100, 140, 200, 0.3);
                .card-image .card-title {
                    background-color: rgba(100, 140, 200, 0.7);
                }
            }
        }
        &:nth-child(5n+4) {
            .card {
                background-color: rgba(200, 107, 100, 0.3);
                .card-image .card-title {
                    background-color: rgba(200, 107, 100, 0.7);
                }
            }
        }
        &:nth-child(5n+5) {
            .card {
                background-color: rgba(100, 200, 150, 0.3);
                .card-image .card-title {
                    background-color: rgba(100, 200, 150, 0.7);
                }
            }
        }
        &:last-child {
            flex-basis: 100%;
        }
        .card {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            .card-image {
                height: 100%;
                max-height: 320px;
                overflow: hidden;
                display: flex;
                align-items: center;
                img {
                    height: 100%;
                    object-fit: cover;
                }
                .card-title {
                    a,
                    a:focus,
                    a:hover,
                    a:active {
                        color: #fff;
                    }
                }
            }
            .card-content {
                flex: 1 1 auto;
            }
            .card-action {
                a:not(.btn):not(.btn-large):not(.btn-floating) {
                    &,
                    &:focus,
                    &:hover,
                    &:active {
                        color: #fff;
                    }
                }
            }
        }
    }
}
